* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
}

:root {
    --bold-font-weight: 700;
    --medium-font-weight: 400;
    --small-font-weight: 300;
}

h1, h2, h3 {
    font-weight: var(--bold-font-weight);
}

/* HEADER */
.banner {
    background: black;
    color: white;
    text-align: center;
    padding: 1em;
    font-weight: var(--bold-font-weight);
    text-transform: uppercase;
    letter-spacing: 0.3rem;
   
}
/* MOBILE NAVIGATION */
.mobile-nav {
    background: black;
    color: white;
    height: 100vh;
    padding: 2em;
    z-index: 99999;
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    left: -3000px;
}

.close {
    left: -3000px;
    transition: 0.8s;
}

.open {
    left: 0;
    transition: 0.6s;
}

.mobile-links {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;
}

.fa-xmark {
    font-size: 3rem;
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
}


/* SITE NAVIGATION */
.fa-bars-staggered {
    font-size: 2rem;
    display: none;
}

.site-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 4em;
    
}

.logo {
    font-size: 2rem;
    font-weight: var(--bold-font-weight);
    cursor: pointer;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
}

.site-links {
    display: flex;
    font-size: 1.3rem;
    gap: 2em;
}

.site-links a:hover {
    text-decoration: 4px #42A0C7 overline;
}

.site-nav-right {
    display: flex;
    font-size: 1.3rem;
    gap: 2em;
    cursor: pointer;
}

/* TOPS SECTION */
h1 {
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: var(--medium-font-weight);
    margin-top: 2em;
}

.tops {
    padding: 4em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
    justify-content: center;
}

.card {
    /* box-shadow: 0px 10px 20px rgb(0, 0, 0, 0.2); */
    padding: 2em;
    background: whitesmoke;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 100%;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-body img {
    height: 250px;
    width: 100%;
    object-fit: contain;
}

.card-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.card-footer button {
    min-width: 100%;
    padding: 0.5em;
    border: none;
    border-radius: 4em 4em 4em 4em;
    background: black ;
    color: white;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: var(--small-font-weight);
    margin-top: 2em;
}

.card-footer button:hover {
    background: gray;
}

.title {
    font-size: 1.5rem;
    font-weight: var(--bold-font-weight);
}

.price {
    font-size: 1.2rem;
    font-weight: var(--medium-font-weight);
}

#link {
    cursor: pointer;
    color: black;
    font-size: 3rem;
    font-weight: var(--bold-font-weight);
    padding: 2em 1.3em;
    padding-top: 4em;
    position: absolute;
    opacity: 0;
    letter-spacing: 0.3rem;
    align-self: center;
    margin-top: 100px;
}


#link:hover {
    cursor: pointer;
    opacity: 100%;
    backdrop-filter: blur(4px);

}


/* FOOTER SECTION */
footer {
    display: flex;
    justify-content: space-between;
    padding: 6em 2em;
    background: black;
    color: white;
}

.logo-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo-text {
    text-transform: uppercase;
}

.link-header {
    text-transform: uppercase;
    font-weight: var(--bold-font-weight);
    font-size: 1.2rem;
}

.link-group {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-weight: var(--small-font-weight);
    opacity: 90%;
}

.links li:hover {
    text-decoration: 3px #42A0C7 underline;
}

.email-input {
    /* padding: 1em;
    border-radius: 2em; */
    width: 100%;
    border: none;
    outline: none;
}

.input-field {
    display: flex;
    width: 300px;
    border-radius: 2em;
    padding: 0.3em 0.2em;
    padding-left: 1em;
    border-radius: 2em;
    background: white;
    align-items: center;
    font-size: 16px;
}

.fa-paper-plane {
    color: black;
    font-size: 1.3rem;
    cursor: pointer;
    background: #42A0C7 ;
    border-radius: 1em;
    padding: 0.5em;
}









/* MEDIA QUERIES */
@media screen and (max-width:1100px) {
    .site-links, .site-nav-right {
        display: none;
    }
    .fa-bars-staggered {
        display: block;
    }

    .tops {
        grid-template-columns: 1fr 1fr;
    }
   


}

@media screen and (max-width:685px) {
   

    .tops {
        grid-template-columns: 1fr;
    }
   


}


@media screen and (max-width:430px) {
   

    .tops {
        padding: 1.5em;
    }
   


}

@media screen and (max-width: 1165px) {
   
    footer {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     gap: 2em;
     justify-content: center;
     align-items: center;
    }
 
    #social {
     grid-column:2 / 3;
    }
 }
 
 @media screen and (max-width: 887px) {
    
     footer {
      display: flex;
      flex-direction: column;
      gap: 2em;
     }
 
     footer section {
         align-items: center;
         justify-content: center;
     }
 
     .link-group {
         text-align: center;
     }
 
     .logo-text {
         text-align: center;
     }
  
    
  }