* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
}

:root {
    --bold-font-weight: 700;
    --medium-font-weight: 400;
    --small-font-weight: 300;
}

h1, h2, h3 {
    font-weight: var(--bold-font-weight);
}

/* SCROLLBAR */
::-webkit-scrollbar-thumb {
    scroll-behavior: smooth;
}

  
  
  




/* HEADER */
.banner {
    background: black;
    color: white;
    text-align: center;
    padding: 1em;
    font-weight: var(--bold-font-weight);
    text-transform: uppercase;
    letter-spacing: 0.3rem;
   
}
/* MOBILE NAVIGATION */
.mobile-nav {
    background: black;
    color: white;
    height: 100vh;
    padding: 2em;
    z-index: 99999;
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    left: -3000px;
}

.close {
    left: -3000px;
    transition: 0.8s;
}

.open {
    left: 0;
    transition: 0.6s;
}

.mobile-links {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.3rem;
}

.fa-xmark {
    font-size: 3rem;
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
}


/* SITE NAVIGATION */
.fa-bars-staggered {
    font-size: 1.5rem;
    display: none;
}

.icons {
    display: none;
    font-size: 1.5rem;
    align-items: center;
    gap: 1.5em;
}

.site-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 1em;
}

.logo {
    font-size: 1.8rem;
    font-weight: var(--bold-font-weight);
    cursor: pointer;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
}

.site-links {
    display: flex;
    font-size: 1.3rem;
    gap: 2em;
}

.site-links a:hover {
    text-decoration: 4px #42A0C7 overline;
}

.site-nav-right {
    display: flex;
    font-size: 1.3rem;
    gap: 2em;
    cursor: pointer;
    align-items: center;
}

.site-nav-right a:hover {
    opacity: 30%;
}

/* SHOPPING CART SECTION */
main {
    padding-bottom: 4em;
}

h1 {
    font-size: 2rem;
    padding: 1.5em 0em;
    border-bottom: 1px solid lightgray;
    
}

.shopping-cart {
    width: 70%;
    margin: 0 auto;
    padding: 4em;
    display: flex;
    flex-direction: column;
}

.cart-row {
    display: flex;
    align-items: start;
    padding: 3em 0em;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
}

.shopping-cart-left {
    display: flex;
    gap: 0.5em;
}

.shopping-cart-left img {
    height: 150px;
    width: 150px;
    object-fit: contain;
    background: #E4ECF1;
    padding: 1em;
    border-radius: 5px;
}

.title, .price {
    font-size: 1.2rem;
    font-weight: var(--bold-font-weight);
}

.invoice {
    background: #E4ECF1;
    border-radius: 0.5em;
    width: 100%;
    padding: 2em;
    align-items: right;
    margin: 0 auto;
    margin-top: 4em;
    
}

.invoice-row {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    padding: 1em;
}

#total {
    border: none;
}

.group-name {
    color: rgba(0, 0, 0, 0.684);
    font-size: 1.2rem;
}

#total, .group-price {
    color: black;
    font-size: 1.2rem;
    font-weight: var(--bold-font-weight);
}

.checkout-button-group {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.checkout-btn {
    width: 100%;
    padding: 1em;
    font-size: 1.3rem;
    border-radius: 0.5em 0.5em;
    border: none;
    background: black;
    color: white;
    cursor: pointer;
}

.checkout-btn:hover {
    opacity: 70%;
}

.continue-shopping-text {
    text-align: center;
    font-size: 1.3rem;
}

.emphasis {
    color: #42A0C7;
}

.emphasis:hover {
    opacity: 60%;
}

/* MODAL SECTION */


#checkoutModal {
    z-index: 99999999999;
    height: 70%;
    max-width: 50%;
    background-color: #E4ECF1;
    box-shadow: 0px 10px 20px rgb(0, 0, 0, 0.4);
    border: 5px solid black;
    border-radius: 1em;
    padding: 2em 2em;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
}

.hide {

    position: fixed;
    top: 100px;
    left: 0;
    right: -5000px;
    bottom: 0;
    transition: 0.5s ease-out;
}

.show {
    display: flex;
    position: fixed;
    top: 100px;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.3s ease;
}

#modalXMark {
    position: absolute;
    right: 0;
    display: block;
    padding: 0.2em;
    cursor: pointer;
}


.topModal {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    width: 100%;
}

h2 {
    text-transform: uppercase;
    font-size: 3rem;
}

#modalInput {
    min-width: 80%;
    padding: 0.5em;
    font-size: 16px;
}

.bottomModal {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
}

#modal-price {
    text-align: center;
}


/* FOOTER SECTION */
footer {
    display: flex;
    justify-content: space-between;
    padding: 6em 2em;
    background: black;
    color: white;
}

.logo-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo-text {
    text-transform: uppercase;
}

.link-header {
    text-transform: uppercase;
    font-weight: var(--bold-font-weight);
    font-size: 1.2rem;
}

.link-group {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-weight: var(--small-font-weight);
    opacity: 90%;
}

.links li:hover {
    text-decoration: 3px #42A0C7 underline;
}

.email-input {
    /* padding: 1em;
    border-radius: 2em; */
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
}

.input-field {
    display: flex;
    width: 300px;
    border-radius: 2em;
    padding: 0.3em 0.2em;
    padding-left: 1em;
    border-radius: 2em;
    background: white;
    align-items: center;
    font-size: 16px;
}

.fa-paper-plane {
    color: black;
    font-size: 1.3rem;
    cursor: pointer;
    background: #42A0C7 ;
    border-radius: 1em;
    padding: 0.5em;
}






/* MEDIA QUERIES */
@media screen and (max-width:1100px) {
    .site-links, .site-nav-right {
        display: none;
    }
    .fa-bars-staggered {
        display: block;
    }

    .icons {
        display: flex;
    }
   


}


@media screen and (max-width: 1165px) {
   
    footer {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     gap: 2em;
     justify-content: center;
     align-items: center;
    }
 
    #social {
     grid-column:2 / 3;
    }
 }
 
 @media screen and (max-width: 887px) {
    
     footer {
      display: flex;
      flex-direction: column;
      gap: 2em;
     }
 
     footer section {
         align-items: center;
         justify-content: center;
     }
 
     .link-group {
         text-align: center;
     }
 
     .logo-text {
         text-align: center;
     }
  
    
  }


  @media screen and (max-width: 1276px) {
    .shopping-cart {
        padding: 1em;
    }
  }

   @media screen and (max-width: 600px) {
    .cart-row {
        flex-direction: column;
        align-items: flex-end;
    }

    .shopping-cart {
        padding: 0em;
    }

    .invoice {
        padding: 0.5em;
    }
  }

  @media screen and (max-width:800px) {
    #checkoutModal {
        max-width: 80%;
    }
  }